<div class="notepad">
  <div class="notepad__content">
    <div class="notepad__code html">
&lt;html&gt;
&nbsp;&lt;head&gt;
&nbsp;&nbsp;&lt;title&gt;Bouldin - Portf&oacute;lio&lt;/title&gt;
&nbsp;&nbsp;&lt;meta name=&quot;author&quot; content=&quot;Steven Bouldin &lt;<a href="#contact" class="section-link">emailme@stevenbouldin.com</a>&gt;&quot;&gt;
&nbsp;&lt;/head&gt;
&nbsp;&lt;body&gt;
&nbsp;&nbsp;&lt;h1&gt;<span data-lang-id="some_personal_projects">Alguns projetos Pessoais</span>&lt;/h1&gt;
&nbsp;&nbsp;&lt;ul&gt;
&nbsp;&nbsp;&nbsp;&lt;li&gt;<a href="#projects/AICollection" class="section-link">AI Collection</a>&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&lt;li&gt;<a href="#projects/FontForgery" class="section-link">Font Forgery</a>&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&lt;li&gt;<a href="#projects/ChatExcel" class="section-link">ChatExcel</a>&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&lt;li&gt;<a href="#projects/ArtistryAI" class="section-link">ArtistryAI</a>&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&lt;li&gt;<a href="#projects/Gemini" class="section-link">Gemini</a>&lt;/li&gt;
&nbsp;&nbsp;&lt;/ul&gt;
&nbsp;&nbsp;&lt;h1&gt;<span data-lang-id="business_related_projects">Projetos relacionados a negócios</span>&lt;/h1&gt;
&nbsp;&nbsp;&lt;ul&gt;
&nbsp;&nbsp;&nbsp;&lt;li&gt;<a href="https://sbouldin.tech" class="section-link">Projects Website</a>&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&lt;li&gt;<a href="#projects/ResumeSite" class="section-link">Live Coding Site Demo</a>&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&lt;li&gt;<a href="#projects/WorkCertifications" class="section-link">View My Certifications</a>&lt;/li&gt;
&nbsp;&nbsp;&lt;/ul&gt;
&nbsp;&nbsp;&lt;h1&gt;Created By: Steven Bouldin &lt;/h1&gt;
&nbsp;&lt;/body&gt; 
&lt;/html&gt;
    </div>
  </div>
</div>
